<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.client.yw.astory.mapper.XjAstoryCategoryMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ws.ldy.client.yw.astory.model.entity.XjAstoryCategory">

               <result column="typeid" property="typeid" />
               <result column="type" property="type" />
               <result column="id" property="id" />
               <result column="create_time" property="createTime" />
               <result column="update_time" property="updateTime" />
               <result column="create_user" property="createUser" />
               <result column="update_user" property="updateUser" />
               <result column="deleted" property="deleted" />
               <result column="version" property="version" />
        </resultMap>

        <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
        <sql id="Base_Column_List">

               typeid,
               type,
               id,
               create_time,
               update_time,
               create_user,
               update_user,
               deleted,
               version
        </sql>

</mapper>

