<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wslxm.springbootplus2.manage.admin.mapper.AdminAuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.wslxm.springbootplus2.manage.admin.model.entity.AdminAuthority">

        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="pid" property="pid"/>
        <result column="method" property="method"/>
        <result column="url" property="url"/>
        <result column="desc" property="desc"/>
        <result column="disable" property="disable"/>
    </resultMap>

    <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
    <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               pid,
               method,
               url,
               desc,
               disable
    </sql>


    <select id="findByUserIdAuthority" resultType="com.github.wslxm.springbootplus2.manage.admin.model.entity.AdminAuthority">
        SELECT
        a.*
        FROM t_admin_authority a
        left join t_admin_role_auth ra on ra.auth_id = a.id
        left join t_admin_role_user ru on ru.role_id = ra.role_id
        left join t_admin_role r on r.id = ra.role_id
        where a.deleted = 0
        <if test="userId != null">
           and ru.user_id = #{userId}
        </if>
        <if test=" pid != null and pid != ''">
            and(
            a.pid = #{pid} or a.id = #{pid}
            )
        </if>
        <if test="disable != null">
            and r.disable = #{disable}
            and a.disable = #{disable}
        </if>
        <if test="state != null">
            and a.state = #{state}
        </if>
        <if test="type != null">
            and a.type = #{type}
        </if>
        group by a.id
        order by a.method asc,a.url asc
    </select>
</mapper>

