<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.wslxm.springbootplus2.manage.test.mapper.GcTestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.wslxm.springbootplus2.manage.test.model.entity.GcTest">

        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="like" property="like"/>
        <result column="city" property="city"/>
        <result column="disable" property="disable"/>
        <result column="head_url" property="headUrl"/>
        <result column="head_files" property="headFiles"/>
        <result column="video_files" property="videoFiles"/>
        <result column="files" property="files"/>
        <result column="time" property="time"/>
        <result column="time_two" property="timeTwo"/>
        <result column="text" property="text"/>
        <result column="text_two" property="textTwo"/>
        <result column="text_three" property="textThree"/>
        <result column="cascader" property="cascader"/>
        <result column="array" property="array"/>
        <result column="icon" property="icon"/>
        <result column="color" property="color"/>
        <result column="map" property="map"/>
    </resultMap>

    <!-- 通用查询结果列: <include refid="Base_Column_List"></include> -->
    <sql id="Base_Column_List">

        t.id,
        t.create_user,
        t.update_user,
        t.create_time,
        t.update_time,
        t.deleted,
        t.version,
        t.name,
        t.age,
        t.sex,
        t.like,
        t.city,
        t.disable,
        t.head_url,
        t.head_files,
        t.video_files,
        t.files,
        t.time,
        t.time_two,
        t.text,
        t.text_two,
        t.text_three,
        t.cascader,
        t.array,
        t.icon,
        t.color,
        t.map
    </sql>


    <!-- id 查询 -->
    <select id="findId" resultType="io.github.wslxm.springbootplus2.manage.test.model.vo.GcTestVO">
        select
        <include refid="Base_Column_List"></include>
        from t_gc_test t
        where t.deleted = 0
        t.id = #{id}
    </select>

    <!-- 全部查询 -->
    <select id="list" resultType="io.github.wslxm.springbootplus2.manage.test.model.vo.GcTestVO">
        select
        <include refid="Base_Column_List"></include>
        from t_gc_test t
        where t.deleted = 0

        <if test="query.name != null and query.name  != ''">
            and t.`name` like concat(#{query.name},'%')
        </if>
        <if test="query.sex != null">
            and t.sex = #{query.sex}
        </if>
        <if test="query.like != null and query.like  != ''">
            and t.`like` like concat(#{query.like},'%')
        </if>
        <if test="query.city != null">
            and t.city = #{query.city}
        </if>
        <if test="query.disable != null">
            and t.`disable` = #{query.disable}
        </if>
        <if test="query.time != null and query.time != ''">
            <foreach item="time" collection="query.time.split(',')" open="and t.`time` >= " separator=" and " close=" >= t.`time`">
                #{time}
            </foreach>
        </if>
        <if test="query.timeTwo != null and query.timeTwo  != ''">
            and t.time_two like concat(#{query.timeTwo},'%')
        </if>
        <if test="query.cascader != null and query.cascader  != ''">
            and t.cascader like concat(#{query.cascader},'%')
        </if>
        order by t.create_time desc
    </select>

</mapper>

