<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> Jvm信息</title> <!--http://localhost:9049/page/client_tool_jvmInfo-->
</head>
<!-- layui样式 -->

<link rel="stylesheet" href="/components/editor/css/editormd.css">
<script src="/modules/js/app.js"></script>
<script src='/base/js/jquery-3.4.1.min.js'></script>
<script type="text/javascript" src="/components/editor/editormd.js"></script>
<link rel="stylesheet" href="/components/layuiadmin/layui/src/css/layui.css" media="all">
<script src="/components/layuiadmin/layui/src/layui.js"></script>
<script src='/base/js/jquery-3.4.1.min.js'></script>
<script src="/client/js/app.js"></script>
<body>
<br>
<div class="layui-row" style="letter-spacing: 0px; word-spacing: 0px; text-align: left; font-weight: 400; font-size: 16px; width: 100%;">
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                CPU
            </div>
            <div class="layui-card-body" style="font-size: 25px;">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="background-color: rgb(255, 255, 255);border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">属性</th>
                        <th style="background-color: rgb(255, 255, 255);border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">核心数</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="availableProcessors"></td>
                    </tr>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">用户使用率</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="processCpuLoad"></td>
                    </tr>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">系统使用率</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="systemCpuLoad"></td>
                    </tr>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">当前空闲率</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="unwantedCpuLoad"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                内存
            </div>
            <div class="layui-card-body" style="font-size: 25px;">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th style="background-color: rgb(255, 255, 255);border-left-style: hidden; border-right-style: hidden; border-top-style: hidden;">属性</th>
                        <th style="background-color: rgb(255, 255, 255);border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">内存</th>
                        <th style="background-color: rgb(255, 255, 255);border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">JVM</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">总内存</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="totalPhysicalMemorySize"></td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="totalMemory"></td>
                    </tr>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">已用内存</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="cpuUsableMemory"></td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="usableMemory"></td>
                    </tr>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">剩余内存</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="freePhysicalMemorySize"></td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="freeMemory"></td>
                    </tr>
                    <tr>
                        <td style="border-left-style: hidden; border-right-style: hidden;">使用率</td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="cpuUsageRate"></td>
                        <td style="border-left-style: hidden; border-right-style: hidden;" id="jvmUsageRate"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br>
<div class="layui-card">
    <div class="layui-card-header">
        服务器信息
    </div>
    <div class="layui-card-body" style="background-color: rgb(255, 255, 255);">
        <small></small><small></small><i></i><small></small>
        <table class="layui-table">
            <thead>
            <tr>
                <th style="background-color: rgb(255, 255, 255);width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">服务器名称</th>
                <th style="background-color: rgb(255, 255, 255);width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">服务器IP</th>
                <th style="background-color: rgb(255, 255, 255);width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">操作系统</th>
                <th style="background-color: rgb(255, 255, 255);width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">系统架构</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="name"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="address">1</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="osName"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="osArch"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">
        JVM虚拟机信息
    </div>
    <div class="layui-card-body" style="background-color: rgb(255, 255, 255);">
        <small></small><small></small><i></i><small></small>
        <table class="layui-table">
            <thead>
            <tr>
                <th style="background-color: rgb(255, 255, 255); width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">java名称</th>
                <th style="background-color: rgb(255, 255, 255); width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;" id="jdkName"></th>
                <th style="background-color: rgb(255, 255, 255); width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">启用时间</th>
                <th style="background-color: rgb(255, 255, 255); width: 23.6937%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;" id="jvmStartTime"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border-left-style: hidden; border-right-style: hidden;">java版本</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="jdkVersion"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;">运行时长</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="jvmRunTime"></td>
            </tr>
            <tr>
                <td style="border-left-style: hidden; border-right-style: hidden;">JDK路径</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="jdkHomeDir"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;"></td>
            </tr>
            <tr>
                <td style="border-left-style: hidden; border-right-style: hidden;">项目路径</td>
                <td style="border-left-style: hidden; border-right-style: hidden;width: 35%; " id="projectDir"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;"></td>
            </tr>
            <tr>
                <td style="border-left-style: hidden; border-right-style: hidden;">程序PID</td>
                <td style="border-left-style: hidden; border-right-style: hidden;width: 35%; " id="PID"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;"></td>
                <td style="border-left-style: hidden; border-right-style: hidden;"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-header">
        磁盘状态
    </div>
    <div class="layui-card-body" style="background-color: rgb(255, 255, 255);">
        <small></small><small></small><i></i><small></small>
        <table class="layui-table">
            <thead>
            <tr>
                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">盘符路径</th>
<!--                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">文件系统</th>-->
<!--                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">盘符类型</th>-->
                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">总大小</th>
                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">可用大小</th>
                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">已用大小</th>
                <th style="background-color: rgb(255, 255, 255); width: 13.3447%; border-left-style: hidden; border-right-style: hidden;border-top-style: hidden;">已用百分比</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border-left-style: hidden; border-right-style: hidden;">/</td>
<!--                <td style="border-left-style: hidden; border-right-style: hidden;"></td>-->
<!--                <td style="border-left-style: hidden; border-right-style: hidden;"></td>-->
                <td style="border-left-style: hidden; border-right-style: hidden;" id="fileTotal">GB</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="fileFree"> GB</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="fileUse"> GB</td>
                <td style="border-left-style: hidden; border-right-style: hidden;" id="fileUseUsageRate"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<script>
    let jvmInfoUrl = "/api/admin/xj/tool/jvmInfo";
    let jvmInfo = Ajax.get(jvmInfoUrl).data;
    let mkb = 1024 * 1024;
    let gkb = 1024 * 1024 * 1024;

    // jvm内存
    let totalMemory = (jvmInfo.runtimeInfo.totalMemory / mkb).toFixed(2);
    let freeMemory = (jvmInfo.runtimeInfo.freeMemory / mkb).toFixed(2);
    $("#totalMemory").html(totalMemory + "MB");                                      // JVM最大获取内存
    $("#freeMemory").html(freeMemory + " MB");                                       // JVM剩余内存
    $("#usableMemory").html((totalMemory - freeMemory).toFixed(2) + " MB");          // JVM已使用内存
    $("#jvmUsageRate").html((((totalMemory - freeMemory) / totalMemory) * 100).toFixed(2) + " %");   // JVM使用率

    // 系统内存
    let totalPhysicalMemorySize = (jvmInfo.operatingSystemMXBean.totalPhysicalMemorySize / gkb).toFixed(2);
    let freePhysicalMemorySize = (jvmInfo.operatingSystemMXBean.freePhysicalMemorySize / gkb).toFixed(2);
    $("#totalPhysicalMemorySize").html(totalPhysicalMemorySize + "G");                                         // cpu最大获取内存
    $("#freePhysicalMemorySize").html(freePhysicalMemorySize + " G");                                          // cpu剩余内存
    $("#cpuUsableMemory").html((totalPhysicalMemorySize - freePhysicalMemorySize).toFixed(2) + " G");          // cpu已使用内存
    $("#cpuUsageRate").html((((totalPhysicalMemorySize - freePhysicalMemorySize) / totalPhysicalMemorySize) * 100).toFixed(2) + " %");     // cpu使用率

    // cpu
    let processCpuLoad = jvmInfo.operatingSystemMXBean.processCpuLoad;
    let systemCpuLoad = jvmInfo.operatingSystemMXBean.systemCpuLoad;
    $("#processCpuLoad").html((processCpuLoad * 100).toFixed(2) + " %");                       // 用户占用率
    $("#systemCpuLoad").html((systemCpuLoad * 100).toFixed(2) + " %");                         // 系统占用率
    $("#unwantedCpuLoad").html(((1 - processCpuLoad - systemCpuLoad) * 100).toFixed(2) + "%"); // 空闲率
    $("#availableProcessors").html(jvmInfo.operatingSystemMXBean.availableProcessors);         // cpu核心数

    // 主机和系统信息(hostInfo|osInfo )
    $("#name").html(jvmInfo.hostInfo.name);        // 主机名
    $("#address").html(jvmInfo.hostInfo.address);  // 主机ip
    $("#osName").html(jvmInfo.osInfo.name);        // 系统版本
    $("#osArch").html(jvmInfo.osInfo.arch);        // 系统架构

   // jdk信息
    $("#jdkName").html(jvmInfo.runtimeMXBean.systemProperties['java.vm.name']);      // java版本名称
    $("#jdkVersion").html(jvmInfo.runtimeMXBean.systemProperties['java.version']);   // java版本
    $("#jdkHomeDir").html(jvmInfo.runtimeMXBean.systemProperties['java.home']);      // java路径
    $("#PID").html(jvmInfo.runtimeMXBean.systemProperties['PID']);                   // java路径
    $("#projectDir").html(jvmInfo.userInfo.currentDir);                              // 项目路径
    $("#jvmStartTime").html(TimeUtil.formatDate(jvmInfo.runtimeMXBean.startTime));   // jvm启动时间
    $("#jvmRunTime").html(TimeUtil.DateDifference(jvmInfo.runtimeMXBean.startTime, new Date().getTime())); // jvm运行时长

    // 硬盘信息(总大小/剩余/已用/已用百分比)
    $("#fileTotal").html((jvmInfo.fileInfoVO.total / gkb).toFixed(2) + " GB");
    $("#fileFree").html((jvmInfo.fileInfoVO.free / gkb).toFixed(2)+ " GB");
    $("#fileUse").html(((jvmInfo.fileInfoVO.total  - jvmInfo.fileInfoVO.free) / gkb).toFixed(2) +" GB");
    $("#fileUseUsageRate").html((((jvmInfo.fileInfoVO.total  - jvmInfo.fileInfoVO.free) / jvmInfo.fileInfoVO.total)*100).toFixed(2) +"%");
</script>
</body>