<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.modules.yw.file.mapper.XjFileMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ws.ldy.modules.yw.file.model.entity.XjFile">

               <result column="id" property="id" />
               <result column="create_user" property="createUser" />
               <result column="update_user" property="updateUser" />
               <result column="create_time" property="createTime" />
               <result column="update_time" property="updateTime" />
               <result column="deleted" property="deleted" />
               <result column="version" property="version" />
               <result column="name" property="name" />
               <result column="desc" property="desc" />
               <result column="size" property="size" />
               <result column="suffix" property="suffix" />
               <result column="url" property="url" />
               <result column="type" property="type" />
        </resultMap>

        <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
        <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               name,
               desc,
               size,
               suffix,
               url,
               type
        </sql>

</mapper>

