<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.wslxm.springbootplus2.basepay.manage.mapper.PayWalletFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.wslxm.springbootplus2.basepay.manage.model.entity.PayWalletFlow">

        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="user_id" property="userId"/>
        <result column="order_no" property="orderNo"/>
        <result column="money_after" property="moneyAfter"/>
        <result column="money" property="money"/>
        <result column="wallet_type" property="walletType"/>
        <result column="business_type" property="businessType"/>
        <result column="business_desc" property="businessDesc"/>
    </resultMap>

    <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
    <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               user_id,
               order_no,
               account_type,
               money_front,
               money_after,
               money,
               wallet_type,
               business_type,
               business_desc
        </sql>

    <select id="findUserTotalAmount" resultType="java.math.BigDecimal">
         select sum(money) from t_xj_pay_wallet_flow where user_id= #{userId}
    </select>

</mapper>

