<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.modules.sys.pay.mapper.XjPayRecordMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ws.ldy.modules.sys.pay.model.entity.PayRecord">

               <result column="id" property="id" />
               <result column="create_user" property="createUser" />
               <result column="update_user" property="updateUser" />
               <result column="create_time" property="createTime" />
               <result column="update_time" property="updateTime" />
               <result column="deleted" property="deleted" />
               <result column="version" property="version" />
               <result column="order_no" property="orderNo" />
               <result column="platform_fee" property="platformFee" />
               <result column="channel_fee" property="channelFee" />
               <result column="money_total" property="moneyTotal" />
               <result column="pay_state" property="payState" />
               <result column="pay_channel" property="payChannel" />
               <result column="pay_type" property="payType" />
               <result column="business_type" property="businessType" />
               <result column="business_desc" property="businessDesc" />
               <result column="request_data" property="requestData" />
               <result column="response_data" property="responseData" />
               <result column="callback_data" property="callbackData" />
        </resultMap>

        <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
        <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               order_no,
               wallet_no,
               platform_fee,
               channel_fee,
               money_total,
               pay_state,
               pay_channel,
               pay_type,
               business_type,
               business_desc,
               request_data,
               response_data,
               callback_data
        </sql>

</mapper>

