.overlay {
    background-color: #000; /*背景色*/
    opacity: 1.0; /*不透明度*/
    filter: alpha(opacity=100); /*透明度*/
    position: fixed;
    top: 2%;
    left: 3%;
    width: 94%;
    height: 94%;
    z-index: 10;
    overflow: auto; /*滚动条*/


}

.overlayimg {
    position: absolute;
    z-index: 1000;
    width: auto; /*宽度*/
    /*  width: auto;*/ /*宽度*/
    /* height: auto; *//*高度自动 */
    margin-top: 5%;
    /* margin-left: 5%;*/
    height: 80%; /*高度自动 */
}