<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.modules.yw.statistics.mapper.StatisticsTotalInfoMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ws.ldy.modules.yw.statistics.model.entity.StatisticsTotalInfo">

               <result column="id" property="id" />
               <result column="create_user" property="createUser" />
               <result column="update_user" property="updateUser" />
               <result column="create_time" property="createTime" />
               <result column="update_time" property="updateTime" />
               <result column="deleted" property="deleted" />
               <result column="version" property="version" />
               <result column="money_total" property="moneyTotal" />
               <result column="money_profit" property="moneyProfit" />
               <result column="money_surplus" property="moneySurplus" />
               <result column="money_payment" property="moneyPayment" />
               <result column="pets_total" property="petsTotal" />
               <result column="user_total" property="userTotal" />
               <result column="girl_user_total" property="girlUserTotal" />
               <result column="boy_user_total" property="boyUserTotal" />
               <result column="declare_user_total" property="declareUserTotal" />
               <result column="renewal_user_total" property="renewalUserTotal" />
               <result column="time" property="time" />
        </resultMap>

        <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
        <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               money_total,
               money_profit,
               money_surplus,
               money_payment,
               pets_total,
               user_total,
               girl_user_total,
               boy_user_total,
               declare_user_total,
               renewal_user_total,
               time
        </sql>

</mapper>

