<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.modules.yw.statistics.mapper.StatisticsIncreasePaymentMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ws.ldy.modules.yw.statistics.model.entity.StatisticsIncreasePayment">

               <result column="id" property="id" />
               <result column="create_user" property="createUser" />
               <result column="update_user" property="updateUser" />
               <result column="create_time" property="createTime" />
               <result column="update_time" property="updateTime" />
               <result column="deleted" property="deleted" />
               <result column="version" property="version" />
               <result column="start_time" property="startTime" />
               <result column="end_time" property="endTime" />
               <result column="payment_num" property="paymentNum" />
               <result column="payment_money" property="paymentMoney" />
               <result column="payment_boy_money_total" property="paymentBoyMoneyTotal" />
               <result column="payment_girl_money_total" property="paymentGirlMoneyTotal" />
        </resultMap>

        <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
        <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               start_time,
               end_time,
               payment_num,
               payment_money,
               payment_boy_money_total,
               payment_girl_money_total
        </sql>

</mapper>

