<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
    <head>
        <meta charset="UTF-8">
        <title>tree-table</title>
        <link rel="stylesheet" th:href="@{/treetable-lay/assets/layui/css/layui.css}">
        <link rel="stylesheet" th:href="@{/treetable-lay/assets/common.css}"/>
        <script language=javascript th:src='@{/js/jquery-3.4.1.js}'></script>
        <script language=javascript th:src='@{/treetable-lay/assets/layui/layui.js}'></script>
        <script th:src="@{/js/app.js}"></script>
        <style>
            input {
                height: 33px;
                line-height: 33px;
                padding: 0 7px;
                border: 1px solid #ccc;
                border-radius: 2px;
                margin-bottom: -2px;
                outline: none;
            }

            input:focus {
                border-color: #009E94;
            }
        </style>
    </head>
    <body>
        <!-- 设置数据表格宽 -->
        <div class="layui-container" style="width: 96%;margin-left: 40px">
            <br>
            <br>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-primary" id="btn-expand">全部展开</button>
                <button class="layui-btn layui-btn-primary" id="btn-fold">全部折叠</button>
            </div>
            &nbsp;&nbsp;
            <input id="edt-search" type="text" placeholder="输入关键字" style="width: 160px;"/>&nbsp;&nbsp;
            <button class="layui-btn  layui-btn-normal layui-btn-sm" id="btn-search">&nbsp;搜索&nbsp;&nbsp;</button>
            <button class="layui-btn  layui-btn-sm" data-type="add">+ 系统</button>
            <table id="auth-table" class="layui-table" lay-filter="auth-table"></table>
        </div>

        <script>
            // alert(1)
            // }) $(function () {
            //

            //数据接口
            let menuFindAll = path + "/menuAdmin/list";     // 查询菜单树
            let menuDelete = path + "/menuAdmin/delete";    // 删除
            let menu_update = path + "/menuAdmin/update";   // 编辑

            let admin_menu_add = path + "/page/console_menu_add";     // 添加菜单/页面弹层
            let admin_menu_upd = path + "/page/console_menu_upd";     // 菜单编辑弹层

            //添加菜单当前行数据(弹出层获取当前页面值使用)，var 支持外部调用，var子页面无法获取值
            var data = null;


            layui.config({
                base: '../treetable-lay/module/' //静态资源所在路径
            }).extend({
                treetable: 'treetable-lay/treetable'
            }).use(['table', 'treetable'], function () {
                var form = layui.form
                    , table = layui.table
                    , treeTable = layui.treetable
                    , $1 = layui.$;
                render(treeTable)
                $1('#btn-expand').click(function () {
                    treeTable.expandAll('#auth-table');
                });

                $1('#btn-fold').click(function () {
                    treeTable.foldAll('#auth-table');
                });

                $1('#btn-search').click(function () {
                    var keyword = $('#edt-search').val();
                    var searchCount = 0;
                    $1('#auth-table').next('.treeTable').find('.layui-table-body tbody tr td').each(function () {
                        $1(this).css('background-color', 'transparent');
                        var text = $(this).text();
                        if (keyword !== '' && text.indexOf(keyword) >= 0) {
                            $1(this).css('background-color', 'rgba(250,230,160,0.5)');
                            if (searchCount === 0) {
                                treeTable.expandAll('#auth-table');
                                $1('html,body').stop(true);
                                $1('html,body').animate({scrollTop: $(this).offset().top - 150}, 500);
                            }
                            searchCount++;
                        }
                    });
                    if (keyword === '') {
                        layer.msg("请输入搜索内容", {icon: 5});
                    } else if (searchCount === 0) {
                        layer.msg("没有匹配结果", {icon: 5});
                    }
                });


                //=======================================================================
                //========================= 数据搜索栏按钮 -->  ==========================
                //========== addRoot1:  对应 data-type="addRoot1" =======================
                //=======================================================================
                var $ = layui.$, active = {
                    add: function () {
                        data = new Array(); //初始化data
                        data.lv = 1;        //表示添加系统
                        tipsWindown(admin_menu_add, "440px", "280px", "添加系统");
                    }
                };
                //必须在下面/监听class = demoTable内按钮
                $('.layui-container .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });


                //=======================================================================
                //========================= 监听数据表格内按钮 ==========================
                //===================== 添加菜单/页面/编辑/删除 =========================
                //=======================================================================
                /**
                 * 监听数据表格内按钮  tool(auth-table)对应   lay-filter="auth-table"
                 */
                table.on('tool(auth-table)', function (obj) {
                    //当前行数据
                    data = obj.data;
                    // TODO  菜单添加
                    if (obj.event === 'add') {
                        data.lv = 2; //表示添加菜单
                        tipsWindown(admin_menu_add, "440px", "280px", "添加菜单--" + data.name)
                    }
                    // TODO  页面添加
                    if (obj.event === 'addPage') {
                        data.lv = 3;  //表示添加页面
                        tipsWindown(admin_menu_add, "440px", "340px", "添加页面--" + data.name)
                    }

                    // TODO  删除
                    if (obj.event === 'del') {
                        let delData = "?id=" + data.id;
                        tipsDeleteId(menuDelete + delData, obj)
                    }

                    // TODO 修改菜单名称
                    if (obj.event === 'upd') {
                        tipsWindown(admin_menu_upd, "440px", "240px", "编辑")
                    }
                });


                //=======================================================================
                //============================== 监听行修改 ==============================
                //=======================================================================
                /**
                 * 监听数据表格内按钮  edit(auth-table)对应   lay-filter="auth-table"
                 * //修改排序-图标-菜单url-权限id
                 */
                table.on('edit(auth-table)', function (obj) {
                    let val = obj.value;   //得到修改后的值
                    let data = obj.data;   //得到所在行所有键值
                    let field = obj.field; //得到修改的字段
                    let result;
                    if (field === "sort") {
                        // TODO  1，sort-修改排序
                        result = ajaxPut(menu_update, {id: data.id, sort: val});
                    } else if (field === "icon") {
                        // TODO  2，icon-修改图标
                        result = ajaxPut(menu_update, {id: data.id, icon: val})
                    } else if (field === "url") {
                        // TODO  3、url-修改菜单url
                        result = ajaxPut(menu_update, {id: data.id, url: val})
                    } else {
                        // TODO  4、name-修改菜单名
                    }
                    layer.msg(result.msg);
                });
            });


            /**
             * TODO  表格刷新
             * @author ws
             * @mail  1720696548@qq.com
             * @date  2020/4/19 0019 21:43
             * @return
             */
            function render(treeTable) {
                //菜单数据
                let dataJson = ajaxGet(menuFindAll);
                // 渲染表格
                layer.load(2);
                //加载数据
                treeTable.render({
                    treeColIndex: 0,            //菜单列索引 ,加载展开图标
                    treeSpid: 0,                //顶级父id
                    treeIdName: 'id',           //id 名称
                    treePidName: 'pid',         //fid 名称
                    treeDefaultClose: false,     // 是否默认折叠
                    treeLinkage: true,         // 父级展开时是否自动展开所有子级
                    elem: '#auth-table',        //table 的 div
                    //url:'/menu/findAll',                         //后台接口获取数据
                    //url: '../treetable-lay/json/menus.json',     //json文件获取数据
                    data: dataJson.data,                           //直接加载数据
                    page: false,
                    done: function () {
                        //  $("table").css("width", "96%");
                        layer.closeAll('loading');
                    },
                    cols: [
                        [
                            //{field: 'id', width: 100, type: 'id', title: 'id'},
                            {field: 'name', width: 200, title: '菜单名称'},//edit: 'text',
                            {
                                field: 'icon', width: 150, title: '图标', templet: function (res) {
                                    return "<i class='layui-icon " + res.icon + "'></i>";
                                }
                            },
                            {field: 'url', width: 300, edit: 'text', title: '路由'},
                            {field: 'sort', width: 150, edit: 'text', title: '排序'},
                            {
                                field: 'root', width: 200, title: '添加菜单/页面', templet: function (res) {
                                    if (res.root.value === 1) {
                                        // 系统
                                        return " <a class=\"layui-btn  layui-btn-xs\" lay-event=\"add\"> + 菜单</a>\n";
                                    } else if (res.root.value === 2) {
                                        // 菜单
                                        return " <a class=\"layui-btn  layui-btn-xs\" lay-event=\"add\"> + 菜单</a>\n"
                                            + " <a class=\"layui-btn layui-btn-xs\" lay-event=\"addPage\"> + 页面</a>\n";
                                    } else if (res.root.value === 3) {
                                        //页面  class="layui-badge layui-bg-gray
                                        return '<span class="layui-badge layui-bg-gray">页面</span>';
                                    }
                                }
                            },
                            {
                                field: '', width: 200, title: '操作', templet: function (res) {
                                    var html = "";
                                    html += "<a class=\"layui-btn layui-btn-warm layui-btn-xs\" lay-event=\"upd\">编辑</a>\n";
                                    html += "<a class=\"layui-btn layui-btn-danger layui-btn-xs\" lay-event=\"del\">删除</a>\n";
                                    return html;
                                }
                            }
                        ]
                    ]
                });
            }
        </script>
    </body>
</html>