<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>tree-table</title>
    <link rel="stylesheet" th:href="@{/treetable-lay/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/treetable-lay/assets/common.css}"/>
    <script language=javascript th:src='@{/js/jquery-3.4.1.js}'></script>
    <script language=javascript th:src='@{/treetable-lay/assets/layui/layui.js}'></script>
    <script th:src="@{/js/app.js}"></script>
    <style>
        input {
            height: 33px;
            width: 150px;
            line-height: 33px;
            padding: 0 7px;
            border: 1px solid #ccc;
            border-radius: 2px;
            margin-bottom: -2px;
            outline: none;
        }

        input:focus {
            border-color: #009E94;
        }
    </style>
</head>

<body>
<!-- 设置数据表格宽 -->
<div class="layui-container" style="width: 96%;margin-left: 40px">
    <br>
    <br>
    <!-- 展开/折叠 -->
    <div class="layui-btn-group">
        <button class="layui-btn layui-btn-primary" id="btn-expand">全部展开</button>
        <button class="layui-btn layui-btn-primary" id="btn-fold">全部折叠</button>
    </div>
    &nbsp;
    <!-- 搜索按钮 -->
    <input id="edt-search" type="text" placeholder="输入关键字"/>&nbsp;&nbsp;
    <button class="layui-btn  layui-btn-normal layui-btn-sm" id="btn-search">&nbsp;搜索&nbsp;&nbsp;</button>
    <!-- 表格头按钮 -->
    <button class="layui-btn  layui-btn-sm" data-type="add">+ 类别</button>
    <!-- 数据表格 -->
    <table id="auth-table" class="layui-table" lay-filter="auth-table"></table>
</div>

<!-- 每一行的数据修改或删除  -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="add">+ 子类别</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    // 接口
    let find_list = path + "/dictionaryAdmin/findList";     // 查询列表
    let deletes = path + "/dictionaryAdmin/delete";        // 删除
    let upd_sort = path + "/dictionaryAdmin/updSort";      // 修改排序
    // 路由
    let page_add = path + "/page/console_dictionary_dictionaryAdd";     // 添加弹层
    let page_upd = path + "/page/console_dictionary_dictionaryUpd";     // 编辑弹层

    // 当前行数据
    var data = null;

    // layui 组件
    let form;
    let table;
    let treeTable;
    let $1;

    layui.config({
        base: '../treetable-lay/module/' //静态资源所在路径
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['table', 'treetable'], function () {
        form = layui.form;
        table = layui.table;
        treeTable = layui.treetable;
        $1 = layui.$;
        xijiaRenderTable();       // 数据表格 - 获取表格
        xijiaEventToolbar();      // 工具栏事件（多删除/添加）
        xijiaEventTool();         // 监听数据表格内按钮操作（编辑,删除等）
        xijiaEventSearch();       // 监听条件搜索
    });


    /**
     * TODO  数据表格
     * @author ws
     * @mail  1720696548@qq.com
     * @date  2020/4/19 0019 21:43
     * @return
     */
    function xijiaRenderTable() {
        //菜单数据
        let dataJson = ajaxGet(find_list);
        // 渲染表格
        layer.load(2);
        //加载数据
        treeTable.render({
            treeColIndex: 0,            // 菜单列索引 ,加载展开图标
            treeSpid: 0,                // 顶级父id的pid值
            treeIdName: 'id',           // id 字段名
            treePidName: 'pid',         // pid 字段名
            treeDefaultClose: true,     // 是否默认折叠
            treeLinkage: false,         // 父级展开时是否自动展开所有子级
            elem: '#auth-table',        //table 的 div
            data: dataJson.data,        //直接加载数据
            done: function () {
                //  $("table").css("width", "96%");
                layer.closeAll('loading');
            },
            cols: [
                [
                    // {field: 'id', width: 200, title: '菜单名称'},//edit: 'text',
                    {field: 'name', width: 200, title: '字典名称'},
                    {field: 'code', width: 200, title: '字典类型'},
                    {field: 'sort', width: 200, edit: 'text', title: '排序'},
                    {field: 'desc', width: 200, title: '字典描叙'},
                    {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 250}
                ]
            ]
        });
    }


    /**
     * TODO  工具栏事件（多删除 || 添加）  ==>> toolbar(auth-table): toolbar=监听表格头事件,  auth-table=数据表格elem 名称
     * @author ws
     * @mail  1720696548@qq.com
     * @param null
     * @date  2020/4/10 0010 0:05
     * @return
     */
    function xijiaEventToolbar() {
        let $ = layui.$, active = {
            add: function () {
                data = [];    // 初始化data
                data.lv = 1;  // 给初始化后的data添加值，表示添加顶级类别
                tipsWindown(page_add, "440px", "360px", "添加类型");
            }
        };
        //必须在下面/监听class = demoTable内按钮
        $('.layui-container .layui-btn').on('click', function () {
            let type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    }


    /**
     * TODO  监听数据表格内按钮（编辑 || 删除 || 其他）, tool(auth-table)==> tool =监听按钮， auth-table=数据表格elem对应值
     * @author ws
     * @mail  1720696548@qq.com
     * @date  2020/4/10 0010 0:03
     * @return
     */
    function xijiaEventTool() {
        // TODO 表格内的按钮监听
        table.on('tool(auth-table)', function (obj) {
            //当前行数据
            data = obj.data;
            // TODO  添加子类别
            if (obj.event === 'add') {
                data.lv = 2; // 表示添加子类别
                tipsWindown(page_add, "440px", "280px", "添加子类别--" + data.name)
            }
            // TODO  编辑字典
            if (obj.event === 'edit') {
                data.lv = 3;  // 编辑字典
                tipsWindown(page_upd, "440px", "340px", "编辑字典--" + data.name)
            }
            // TODO  删除行
            if (obj.event === 'del') {
                let params = "?id=" + data.id;
                tipsDeleteId(deletes + params, obj)
            }
            // TODO 修改菜单名称
            if (obj.event === 'upd') {
                tipsWindown(admin_menu_upd, "440px", "240px", "编辑")
            }
        });

        // TODO 表格内直接编辑内容的监听
        table.on('edit(auth-table)', function (obj) {
            let data = obj.data;   // 得到所在行整行数据
            let val = obj.value;   // 得到修改后的值
            let field = obj.field; // 得到修改的字段
            let result;
            if (field === "sort") {
                // 1、 sort-修改排序
                let params = "";
                params += "?id=" + data.id;
                params += "&sort=" + val;
                result = ajaxPut(upd_sort + params);
            }
            layer.msg(result.msg);
        });
    }

    /**
     * TODO  条件搜索
     * @author ws
     * @mail  1720696548@qq.com
     * @date  2020/4/10 0010 0:03
     * @return
     */
    function xijiaEventSearch() {
        $1('#btn-expand').click(function () {
            treeTable.expandAll('#auth-table');
        });

        $1('#btn-fold').click(function () {
            treeTable.foldAll('#auth-table');
        });

        $1('#btn-search').click(function () {
            let keyword = $('#edt-search').val();
            let searchCount = 0;
            $1('#auth-table').next('.treeTable').find('.layui-table-body tbody tr td').each(function () {
                $1(this).css('background-color', 'transparent');
                let text = $(this).text();
                if (keyword !== '' && text.indexOf(keyword) >= 0) {
                    $1(this).css('background-color', 'rgba(250,230,160,0.5)');
                    if (searchCount === 0) {
                        treeTable.expandAll('#auth-table');
                        $1('html,body').stop(true);
                        $1('html,body').animate({scrollTop: $(this).offset().top - 150}, 500);
                    }
                    searchCount++;
                }
            });
            if (keyword === '') {
                layer.msg("请输入搜索内容", {icon: 5});
            } else if (searchCount === 0) {
                layer.msg("没有匹配结果", {icon: 5});
            }
        });
    }
</script>
</body>
</html>