<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <link rel="icon" href="/base/pic/icon/xijia.png" type="image/x-icon">          <!-- 在网页标题左侧显示图标 -->
    <link rel="shortcut icon" href="/base/pic/icon/xijia.png" type="image/x-icon"> <!-- 在收藏夹显示图标 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/components/layuiadmin/layui/src/css/layui.css" media="all">
    <link rel="stylesheet" href="/components/layuiadmin/style/admin.css" media="all">
    <script src="/components/layuiadmin/layui/src/layui.js"></script>
    <script src='/base/js/jquery-3.4.1.min.js'></script>
    <script src="/base/js/app.js"></script>
    <script src="/modules/admin/index/sys-index.js"></script>
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<style>
    .circleImg {
        border-radius: 30px;
        width: 40px;
        height: 40px;
    }
</style>

<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">

            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <!-- 系统级菜单 -->
                <ui calss="layui-nav layui-bg-cyan" id="menuRoot1">
                    <!--                 <li class="layui-nav-item" onclick="menuRoot1Click(0)"><a href="JavaScript:void(0)">系统管理</a></li>-->
                </ui>
                <!--<li class="layui-nav-item"><a id="viewsUrl" href="/views/xj-toolIndex.html">模版查看</a></li>-->
                <!--                <li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--                    <a href="http://www.layui.com/admin/" target="_blank" title="前台">-->
                <!--                        <i class="layui-icon layui-icon-website"></i>-->
                <!--                    </a>-->
                <!--                </li>-->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!--    <li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--        <input type="text" placeholder="搜索..." autocompvare="off" class="layui-input layui-input-search"-->
                <!--               layadmin-event="serach" lay-action="template/search.html?keywords=">-->
                <!--    </li>-->
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <!-- 新消息 -->
                <!--    <li class="layui-nav-item" lay-unselect>-->
                <!--        <a lay-href="xj-toolIndex.html" layadmin-event="message" lay-text="消息中心">-->
                <!--            <i class="layui-icon layui-icon-notice"></i>-->
                <!--            &lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;-->
                <!--            <span class="layui-badge-dot"></span>-->
                <!--        </a>-->
                <!--        -->
                <!--    </li>-->
                <!-- 使用侧边消息-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a onclick="msg()" href="javascript:;"> <!-- layadmin-event="msg" -->
                        <i class="layui-icon layui-icon-notice"></i>
                        <!-- 如果有新消息，则显示小圆点 -->
                        <span class="layui-badge-dot"></span>
                    </a>
                </li>

                <!--  便签 -->
                <!--                <li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--                    <a href="javascript:;" layadmin-event="note">-->
                <!--                        <i class="layui-icon layui-icon-note"></i>-->
                <!--                    </a>-->
                <!--                </li>-->
                <!-- 全屏 -->
                <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;" layadmin-event="fullscreen">
                            <i class="layui-icon layui-icon-screen-full"></i>
                        </a>
                  </li>-->

                <!-- 配色方案 -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>

                <!-- 头像 -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <img id="head" class="circleImg" src=""/>
                </li>


                <!-- 下拉操作 -->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <!--  用户名称 -->
                        <cite id="username"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a id="updPwd" lay-href="">修改密码</a></dd>
                        <hr><!--id="logout"-->
                        <dd><a style="text-align: center;" onclick="adminLogout()">退出</a></dd>
                    </dl>
                </li>

                <!-- 版权信息 -->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>

                <!-- 弹出右边测试菜单 -->
                <!--                <li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--                    <a href="javascript:;" layadmin-event="test">-->
                <!--                        <i class="layui-icon ">右弹出</i>-->
                <!--                    </a>-->
                <!--                </li>-->

                <!-- 弹出更多 -->
                <!--                <li class="layui-nav-item" lay-unselect>-->
                <!--                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical">-->
                <!--                        &lt;!&ndash;更多&ndash;&gt;</i></a>-->
                <!--                </li>-->
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span class="xijia-logo-title" id="entry_name"></span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
                    <!-- 动态菜单 -->
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <!-- 点击菜单后的监听 -->
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <!-- 没什么用，但不能删，给菜单项赋值  -->
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show"><!--src="front/symbol/fhConvert.html"-->
                <iframe id="homePage" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>
        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>


<script>

    let menuTree = path + "/admin/adminMenu/findTree";            // 树菜单数据
    let findUser = path + "/admin/adminUser/findUser";            // 获取用户信息
    let adminMsgFindPage = path + "/admin/xj/adminMsg/findPage";     // 查询通知消息  isRead=0-未读 1-已读
    let entry_name = path + "/admin/xj/adminConfig/findByCode?code=entry_name";  // 获取项目名称
    // 路径跳转
    let homePage = "/page/modules_sys_admin_user_user";                       // 进入系统首页展示路由, /page/console_user_user  / /page/front_show_show
    let updPwd = "/page/modules_sys_admin_user_userUpdPwd";                   // 修改密码页面


    //初始化静态资源
    layui.config({
        base: '../components/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index',//主入口模块
        treetable: '/components/treetable-lay/module/treetable-lay/treetable'  //引入treetable组件
    }).use(['index', 'laypage', 'element'], function () {
        // 初始化相关数据
        initIndex();
    });
</script>


<!-- 消息模版与js  -->
<script src="/modules/admin/index/sys-index-msg.js"></script>
<script id="msgTemplate" type="text/html">
    <style>
        .layui-tab-title li {
            min-width: 43px;
        }
    </style>

    <div class="layui-card-header">消息列表</div>
    <div class="layui-card-body layui-text layadmin-about layui-form">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li lay-id="" class="layui-this">所有</li>
                <li lay-id="1">已读</li>
                <li lay-id="0">未读</li>
            </ul>
            <div class="layui-tab-content">
                <div id="tab" class="layui-tab-item layui-show"></div>
                <div id="tab1" class="layui-tab-item"></div>
                <div id="tab0" class="layui-tab-item"></div>
            </div>
        </div>
    </div>
    <!-- 分页插件 -->
    <div class="page-table" id="page-table" style="margin-left: 5%!important;"></div>
</script>

</body>
</html>


