<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.modules.yw.pets.mapper.PetsUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ws.ldy.modules.yw.pets.model.entity.PetsUser">

        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
        <result column="version" property="version"/>
        <result column="full_name" property="fullName"/>
        <result column="phone" property="phone"/>
        <result column="id_card_front_pic" property="idCardFrontPic"/>
        <result column="id_card_after_pic" property="idCardAfterPic"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="area" property="area"/>
        <result column="wx_open_id" property="wxOpenId"/>
        <result column="wx_head_pic" property="wxHeadPic"/>
        <result column="wx_name" property="wxName"/>
        <result column="disable" property="disable"/>
    </resultMap>

    <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
    <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               full_name,
               phone,
               id_card_front,
               id_card_front_pic,
               id_card_after_pic,
               province,
               city,
               area,
               wx_open_id,
               wx_head_pic,
               wx_name,
               disable
        </sql>


    <!--
        // 查询报销次数  - state=3 成功的
        // 宠物数量 - nickname 不为空的,不包括临时宠物
        // 缴费次数 - t_pets_order 流水表,支付成功+已绑定宠物的, 业务类型为月缴费的
    -->
    <select id="findPage" resultType="com.ws.ldy.modules.yw.pets.model.vo.PetsUserVO">
        select
        u.*
        ,(SELECT count( t1.id) FROM t_pets_declare t1 WHERE t1.user_id = u.id and t1.state = 3 ) as declareNum
        ,(SELECT count( t1.id) FROM t_pets_pet_info t1 WHERE t1.user_id = u.id and t1.nickname != '' ) as petsNum
        ,(SELECT count( t1.id) FROM t_pets_order t1 WHERE t1.user_id = u.id and t1.order_state in(2,3) and t1.business_type = 1) as payNum
        from t_pets_user u
        where 1=1
        <if test="fullName !=null and fullName != ''">
            and u.full_name like concat('%',#{fullName},'%')
        </if>
        <if test="phone !=null and phone != ''">
            and u.phone like concat('%',#{phone},'%')
        </if>
        <if test="disable !=null and disable != ''">
            and u.disable = #{disable}
        </if>
    </select>

</mapper>

