<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.ldy.modules.yw.pets.mapper.PetsRiskManageMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.ws.ldy.modules.yw.pets.model.entity.PetsRiskManage">

               <result column="id" property="id" />
               <result column="create_user" property="createUser" />
               <result column="update_user" property="updateUser" />
               <result column="create_time" property="createTime" />
               <result column="update_time" property="updateTime" />
               <result column="deleted" property="deleted" />
               <result column="version" property="version" />
               <result column="user_id" property="userId" />
               <result column="wx_name" property="wxName" />
               <result column="full_name" property="fullName" />
               <result column="phone" property="phone" />
               <result column="id_card_front" property="idCardFront" />
               <result column="declare_num" property="declareNum" />
               <result column="declare_money" property="declareMoney" />
               <result column="declare_mouth2_num" property="declareMouth2Num" />
               <result column="declare_mouth2_money" property="declareMouth2Money" />
               <result column="remarks" property="remarks" />
        </resultMap>

        <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
        <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               user_id,
               wx_name,
               full_name,
               phone,
               id_card_front,
               declare_num,
               declare_money,
               declare_mouth2_num,
               declare_mouth2_money,
               remarks
        </sql>

</mapper>

