<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8">
    <title>角色分配-菜单权限</title>
    <link rel="stylesheet" th:href="@{/treetable-lay/assets/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/treetable-lay/assets/common.css}"/>
    <script language=javascript th:src='@{/treetable-lay/assets/layui/layui.js}'></script>
    <script language=javascript th:src='@{/js/jquery-3.4.1.js}'></script>
    <script th:src="@{/js/app.js}"></script>
</head>
<body>
<style>
    .layui-tree-branch {
        color: #EDCA50;
    }
</style>

<!-- 左边树 -->
<div style="display: inline-block;float:left; width: 18%; height: 500px; padding: 10px; border: 1px solid #ddd; overflow: auto;margin-top: 4%">
    <ul id="auth-tree"></ul>
</div>


<!-- 菜单树，数据表格-->
<div style="float:left; margin-left: 3%;width: 68%;margin-top: 2.5%;">
    <table id="auth-table" class="layui-table" lay-filter="auth-table"></table>
</div>


<!-- 确认分配按钮  -->
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-warm layui-btn-sm" onclick="xijiaEventUpdClick()">确认分配</button>
        <button class="layui-btn layui-btn-warm layui-btn-sm" onclick="xijiaEventPutAuthority()">扫描权限</button>
        <font size="2">当前角色: </font> <font size="2" color="red" id="roleFont">未选择</font>
    </div>
</script>

<script>
    let role_find_list = path + "/roleAdmin/list";                      // 角色查询-所有
    let auth_find_list = path + "/authorityAdmin/findList";             // 极限查询--数据列表（所有）
    let auth_upd_authority = path + "/authorityAdmin/putAuthority";     // 权限扫描
    let updRoleUrlAuth = path + "/roleAdmin/updRoleUrlAuth";      // 角色URL权限修改


    let res;           // 后台返回完整菜单数据
    let checkData;     // 所有选中数据
    let roleId = -1;   // 角色Id

    // 组件
    let tree;
    let table;
    let treetable;

    layui.config({
        base: '../treetable-lay/module/' //静态资源所在路径
    }).extend({
        treetable: 'treetable-lay/treetable'
    }).use(['table', 'treetable', 'element', 'tree'], function () {
        tree = layui.tree;
        table = layui.table;
        treetable = layui.treetable;
        // 复选框默认是否选中字段名
        table = $.extend(table, {config: {checkName: 'isChecked'}});
        // 获得菜单数据
        res = ajaxGet(auth_find_list);
        showTree();                    // 初始化左边边角色数据,treetable用于右边 table 数据重载
        xijiaRenderTable(res);         // 初始化右边 table 数据
        xijiaEventCheckbox();          // 监听复选框选中
    });


    /**
     * TODO    生成左角色列表
     *
     * @date  2019/11/16 0016 16:56
     * @return
     */
    function showTree() {
        // 获得角色列表
        let roleRes = ajaxGet(role_find_list);
        // 左边角色菜单数据
        tree({
            elem: '#auth-tree'
            , click: function (item) {
                // 点击回调
                xijiaEventRoleClick(item);
            }
            , nodes: [ //节点
                {
                    name: '角色列表'
                    , id: 0
                    , skin: 'shihuang'
                    , spread: true
                    , children: roleRes.data  //角色数据
                }
            ]

        });
        //生成一个模拟树
        let createTree = function (node, start) {
            node = node || function () {
                let arr = [];
                for (let i = 1; i < 10; i++) {
                    arr.push({
                        name: i.toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                    });
                }
                return arr;
            }();
            start = start || 1;
            layui.each(node, function (index, item) {
                if (start < 10 && index < 9) {
                    let child = [
                        {
                            name: (1 + index + start).toString().replace(/(\d)/, '$1$1$1$1$1$1$1$1$1')
                        }
                    ];
                    node[index].children = child;
                    createTree(child, index + start + 1);
                }
            });
            return node;
        };
    }


    /**
     * TODO    table数据--（抽离出来方便重载）
     *
     * @date  2019/11/16 0016 16:56
     * @return
     * @param params
     */
    function xijiaRenderTable(res) {
        // 渲染表格
        layer.load(2);
        treetable.render({
            toolbar: '#toolbar',
            id: "te",                   // 定义Id--用于复选框获取数据
            treeColIndex: 1,            // 菜单列索引 ,加载展开图标
            treeSpid: 0,                // 顶级父id
            treeIdName: 'id',           // id 名称
            treePidName: 'pid',         // fid 名称
            treeDefaultClose: false,    // 是否默认折叠
            treeLinkage: false,         // 父级展开时是否自动展开所有子级
            elem: '#auth-table',        // table 的 div
            data: res.data,        // 直接加载数据
            done: function () {
                layer.closeAll('loading');
            },
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'desc', title: '接口描叙'},
                    {field: 'url', title: '接口地址'},
                    {field: 'method', title: '请求方式'},
                ]
            ]
        });
    }


    /**
     * TODO    监听复选框选中
     * @date  2019/11/16 0016 19:43
     * @return
     */
    function xijiaEventCheckbox() {
        // obj = 选中行数据
        table.on('checkbox(auth-table)', function (obj) {
            //console.log(JSON.stringify(obj))
            if (obj.type === "all") {
                // 更新所有选中数据te = 数据表格Id
                checkData = table.checkStatus('te');
            } else if (obj.type === "one") {
                // 递归选中/取消选中
                isChecked(res.data, obj.data, obj.checked);
                xijia_window_onbeforeunload();  // 记录滚动条位置
                xijiaRenderTable(res);          // 重载数据
                xijia_window_onload();          // 还原滚动条位置
                // 更新所有选中数据te = 数据表格Id
                checkData = table.checkStatus('te');
            }
        });
    }

    /**
     * TODO  遍历子节点判断--> 选中/ 取消选中
     * @author ws
     * @mail  1720696548@qq.com
     * @date  2020/4/27 0027 17:14
     * @param nodeAll 所有节点
     * @param node 当前节点
     * @param checked 选中true / 取消false
     * @return
     */
    function isChecked(nodeAll, node, checked) {
        // 当菜单级别为3(页面时)，跳出，不往下递归
        if (node.pid !== 0) {
            return;
        }
        // console.log("父菜单name=" + node.name + "")
        for (let i = 0; i < nodeAll.length; i++) {
            if (node.id === nodeAll[i].pid) {
                //赋值
                nodeAll[i].isChecked = checked;
                // console.log("id=" + nodeAll[i].id + "  name=" + nodeAll[i].name)
                //递归
                isChecked(nodeAll, nodeAll[i], checked)
            }
        }
    }

    /**
     * TODO   角色选中回调
     * @param item 当前选中的角色行数据
     * @date  2019/11/16 0016 19:43
     * @return
     */
    function xijiaEventRoleClick(item) {
        //不能点击角色列表
        if (item.id === 0) {
            return;
        }
        let params = "";
        params += "?roleId=" + item.id;
        // 获得菜单数据
        res = ajaxGet(auth_find_list + params);
        // 重载
        xijiaRenderTable(res);
        // 展示选中
        $("#roleFont").html(item.name);
        // 当前角色id
        roleId = item.id;
    }


    /**
     * TODO  角色选中状态添加 CSS样式
     * @date  2019/11/16 0016 17:22
     */
    $("body").on("mousedown", ".layui-tree a", function () {
        if (!$(this).siblings('ul').length) {
            $(".layui-tree a cite").css('color', '#333');
            $(this).find('cite').css('color', '#009688');
        }
    });


    /**
     * TODO  菜单权限分配( JS点击事件)
     * @author ws
     * @mail  1720696548@qq.com
     * @date  2020/4/10 0010 0:05
     * @return
     */
    function xijiaEventUpdClick() {
        if (roleId === -1) {
            layer.msg("没有选选择角色");
            return;
        }
        if (checkData === null || checkData === undefined || checkData.data === null) {
            layer.msg("没有可更新的内容");
            return;
        }
        // 获取数据
        let authIds = [];
        for (let i in checkData.data) {
            authIds[i] = checkData.data[i].id
        }
        // 拼接数据并修改
        let params = "";
        params += "?roleId=" + roleId;
        params += "&authIds=" + authIds;
        let result = ajaxPut(updRoleUrlAuth + params);
        layer.msg(result.msg + " 当前角色拥有菜单：" + checkData.data.length + "个 ")
    }


    /**
     * TODO  权限扫描
     * @author ws
     * @mail  1720696548@qq.com
     * @date  2020/4/28 0028 1:04
     * @return
     */
    function xijiaEventPutAuthority() {
        let result = ajaxPut(auth_upd_authority);
        layer.msg(result.msg + ",请刷新页面");
    }
</script>
</body>
</html>
