<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>菜单添加--添加一级菜单</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel='stylesheet' href='../../layuiadmin/layui/css/layui.css' media='all'/>
        <script language=javascript src='../../js/jquery-3.4.1.js'></script>
        <script src="../../layuiadmin/layui/layui.js"></script>
        <script src="../../js/app.js"></script>
    </head>
    <body>

        <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单图标</label>
                <div class="layui-input-inline">
                    <input type="text" name="icon" lay-verify="required" placeholder="请输入菜单图标" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-hide">
                <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
                <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
            </div>
        </div>

        <script>
            layui.config({
                base: '../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'form'], function(){
                var $ = layui.$
                    ,form = layui.form;
                //监听提交
                form.on('submit(layuiadmin-app-form-submit)', function(data){
                    var index = parent.layer.getFrameIndex(window.name);   // 先得到当前iframe层的索引
                    data.field.pid = parent.data.id;                       //父页面的值,当前行id,传递给后台
                    var resutl = ajaxPost("/menu/save/2",data.field);      // 提交 Ajax 成功后，关闭当前弹层并重载表格//$.ajax({});
                    if(resutl !== "no"){
                        layer.msg('添加成功,请手动刷新页面'); // parent.layui.table.reload('auth-table'); //重载表格
                        setTimeout(function () {
                            //延时关闭弹出层
                            parent.layer.close(index);
                        }, 1000);
                    }else{
                        layer.msg('添加失败');
                    }
                });
            });
        </script>
    </body>
</html>