<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.wslxm.springbootplus2.manage.sys.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.wslxm.springbootplus2.manage.sys.model.vo.SysUserVO">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <!-- <result column="password" property="password"/> -->
        <result column="gender" property="gender"/>
        <result column="disable" property="disable"/>
        <result column="dep_ids" property="depIds"/>
        <result column="position" property="position"/>
        <result column="head_pic" property="headPic"/>
        <result column="phone" property="phone"/>
        <result column="full_name" property="fullName"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="reg_time" property="regTime"/>
        <result column="end_time" property="endTime"/>
        <result column="wx_open_id" property="wxOpenId"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <!-- 通用查询结果列: <include refid="Base_Column_List"></include>  -->
    <sql id="Base_Column_List">

               id,
               create_user,
               update_user,
               create_time,
               update_time,
               deleted,
               version,
               head_pic,
               username,
               full_name,
               password,
               address,
               age,
               gender,
               disable,
               reg_time,
               end_time
        </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        u.*
        from t_sys_user u
        where u.deleted = 0
        <if test="query.id != null and query.id != ''">
            and u.id = #{query.id}
        </if>
        <if test="query.username != null and query.username != ''">
            and u.username like concat(#{query.username},'%')
        </if>
        <if test="query.phone != null and query.phone != ''">
            and u.phone like concat(#{query.phone},'%')
        </if>
        <if test="query.fullName != null and query.fullName != ''">
            and u.full_name like concat(#{query.fullName},'%')
        </if>
        <if test="query.disable != null">
            and u.disable = #{query.disable}
        </if>
        <if test="query.position != null">
            and u.position = #{query.position}
        </if>
        <if test="createUserId != null">
            and u.create_user = #{createUserId}
        </if>
        <if test="query.depIds != null and query.depIds != ''">
            and #{query.depIds} = u.dep_ids
        </if>
        <if test="query.regTime != null and query.regTime != ''">
            <foreach item="regTime" collection="query.regTime.split(',')" open="and u.reg_time >= " separator=" and " close=" >= u.reg_time">
                #{regTime}
            </foreach>
        </if>
        order by u.create_time desc
    </select>

    <select id="findByRoleId" resultType="io.github.wslxm.springbootplus2.manage.sys.model.entity.SysUser">
              select * from t_sys_user where id in (
                     select user_id from t_sys_role_user where role_id = #{roleId}
              )
     </select>
</mapper>

